{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Веб-студия Echo</title>
    <link rel="shortcut icon" href="../static/images/Spec.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../static/images/N.ico" type="image/x-icon">

    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/fonts.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/vendor.css">

    <script src="../static/js/modernizr.js"></script>
    <script src="../static/js/pace.min.js"></script>

    <link rel="stylesheet" href="../static/css/micons/micons.css">
    <link rel="stylesheet" href="../static/css/font-awesome/css/fontawesome-all.css">
{#    <link href="../static/css/aos.css" rel="stylesheet">#}
{#    <link rel="stylesheet" href="../static/css/bootstrap.css">#}
{#    <link rel="stylesheet" href="../static/css/bootstrap.css.map">#}
{#    <link rel="stylesheet" href="../static/css/bootstrap.min.css">#}
{#    <link rel="stylesheet" href="../static/css/bootstrap.min.css.map">#}
{#    <link rel="stylesheet" href="../static/css/bootstrap-grid.css">#}
{#    <link rel="stylesheet" href="../static/css/bootstrap-grid.min.css">#}
{#    <link rel="stylesheet" href="../static/css/bootstrap-grid.css.map">#}
{#    <link rel="stylesheet" href="../static/css/bootstrap-grid.min.css.map">#}
{#    <link rel="stylesheet" href="../static/css/bootstrap-reboot.css">#}
{#    <link rel="stylesheet" href="../static/css/fontawesome-all.css">#}
{#    <link rel="stylesheet" href="../static/css/fontawesome-all.min.css">#}
{#    <link rel="stylesheet" href="../static/css/styles.css">#}
{#    <link rel="stylesheet" href="../static/css/resumeee.scss">#}
{#    <link rel="stylesheet" href="../static/css/simple-line-icons.css">#}
{#    <link rel="stylesheet" href="../static/css/animate.css">#}
{#    <link rel="stylesheet" href="../static/Roboto/Roboto-Black.ttf">#}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>

<body id="top">

            {% include 'navbar.html' %}
            {% block content %}
            {% endblock content %}
            {% include 'footer.html' %}


    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/core.js"></script>
    <script src="../static/js/jquery.easing.js"></script>
    <script src="../static/js/jquery.easing.min.js"></script>

{#    <script src="../static/js/jquery.js"></script>#}
{#    <script src="../static/js/jquery.slim.js"></script>#}
{#    <script src="../static/js/bootstrap.js"></script>#}
{#    <script src="../static/js/jquery.easing.js"></script>#}
{#    <script src="../static/js/gulpfile.js"></script>#}

{#<script src="../static/js/bootstrap.min.js"></script>#}
{#<script src="../static/js/bootstrap.bundle.js"></script>#}
{#<script src="../static/js/bootstrap.bundle.min.js"></script>#}
{#<script src="../static/js/bootstrap.bundle.js.map"></script>#}
{#<script src="../static/js/bootstrap.bundle.min.js.map"></script>#}
{#<script src="../static/js/scripts.js"></script>#}
{#<script src="../static/js/anime.js"></script>#}
{#<script src="../static/js/anime.min.js"></script>#}
{#<script src="../static/js/jquery.easing.min.js"></script>#}
{#<script src="../static/js/core.js"></script>#}
{#<script src="../static/js/jquery.easing.compatibility.js"></script>#}


</body>
</html>