<!-- header -->
<header class="s-header">
    <div class="header-logo">
        <a class="site-logo" href="{% url 'home' %}">
            <img src="../static/images/logo.png" alt="Homepage">
        </a>
    </div> <!-- Логотип -->
    <nav class="header-nav">
        <a href="#0" class="header-nav__close" title="close"><span>Закрыть</span></a>
        <div class="header-nav__content">
            <h3>EchoRise WebStudio</h3>
            <ul class="header-nav__list">
                <li class="current"><a class="js-scroll-trigger"  href="#home" title="home">Домой</a></li>
                <li><a class="js-scroll-trigger"  href="#services" title="about">Услуги</a></li>
                <li><a class="js-scroll-trigger"  href="#about" title="services">О нас</a></li>
                <li><a class="js-scroll-trigger"  href="#works" title="works">Портфолио</a></li>
                <li><a class="js-scroll-trigger"  href="#products" title="products">Цены</a></li>
                <li><a class="js-scroll-trigger"  href="#contact" title="contact">Контакты</a></li>
            </ul>
            <p>Студия была создана в 2018 году. Мы - это разработка Вашего веб-ресурса от нашей <a href='#0'>WebStudio</a> и интеграция цифровых решений для финансовых компаний и СМИ</p>
            <ul class="header-nav__social">
                <li>
                    <a href="#0"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fab fa-vk"></i></a>
                </li>
            </ul>
        </div> <!-- Навбар контент -->
    </nav> <!-- Конец хэдера -->

    <a class="header-menu-toggle" href="#0">
        <span class="header-menu-icon"></span>
    </a>

</header>